@import url('https://fonts.googleapis.com/css2?family=Lato&family=Macondo&family=Roboto+Slab:wght@300&display=swap');

*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color:dimgrey;
}

#div1{
    background-color: white;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#div2{
    margin-left: 20px;
    margin-right: 20px;
}

.imagen{
    border: solid;
    border-color: black;
}

h1{
    font-size: 45px;
}

p{
    font-size: 20px;
}

li{
    font-size: 20px;
}